
* {
  /*Declare the colors on the website with variables */
  --darkGreen: #152618;

  --lightGreen: #314035;

  --yellow: #bf9106;

  --peach: #f9dac0;

  --red: #592020;
}




.shoppingbagIcon,
.menuIcon,
.searchIcon,
.brandName {
  height: min-content; /* Setting height on icons so they are not taking unnecessary space below them */
  padding-top: 0.4rem;

=======
body {
  background-color: #ffefe0;
  font-family: 'Koulen', sans-serif;
  padding: 0;
  margin: 0;
}
