
/* Importing the font KOULEN for the brandName */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/* Importing font Kulim Park */
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');


* {
  /*Declare the colors on the website with variables */
  --darkGreen: #152618;

  --lightGreen: #314035;

  --yellow: #bf9106;

  --peach: #f9dac0;

  --red: #592020;

  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  overflow-x: hidden;
}

.shoppingbagIcon,
.menuIcon,
.searchIcon,
.brandName {
  height: min-content; /* /* Setting height on icons so they are not taking unnecessary space below them */
  padding-top: 0.4rem;
}

body {
  background-color: #ffefe0;
  font-family: 'Koulen', sans-serif;
}
